@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



  /* shared styles */

  .display-flex{
    display: flex;

  }

 
  /* navbar related  styles */

  .menu-icon{
    display: none;
  }

  
 
.bg-color{
 
  background: rgb(247, 247, 247);
  

}
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 70px;
   


  }

  .nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
  
  }
.logo{
  padding-bottom: 10px;
}
  .nav-item{
    list-style: none;
    margin: 32px;
   
  }

  .nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
  }


.button-1{
  padding: 10px 60px ;
  border-radius: 12px;
  background-color: orange;
  color: white;
  font-size: 1.25rem;
  font-weight: 600px;
}

  .color-1{
    color: rgba(254, 163, 1, 1);
  }
.color-2{
    color: rgba(1, 172, 253, 1);

}

.color-3{
    color: #05D4DF;
}

.color-4{
    color: #5D58EF;
}
.color-5{
    color: #FFFFFF;
}

.marque{
  font-size: 4rem;
  font-weight: bold;
  color: green;
}

/* Empowering styles */

.Empowering{
    display: flex;
    max-width: 1158px;
    margin:20px 141px;
    gap: 50px;
}

.empowering-content{
    max-width: 640px;

}

.empowering-title{
    font-size: 3.5rem;
    font-weight: bold;
}

.empowering-description{
    font-size: 1.25rem;
    font-weight: 400px;
    
}

.button-2{
    background-color: black;
    color: white;
    padding:10px  42px;
    border-radius: 12px ;
    font-weight: bold;
    font-size: 1.25rem;

}

.hero-img{
  width: 468px;
  height: 575px;
}

/* Standard Curriculum styles */
.bg-color-2{
background-image: url(../assets/bg.png);

}
.curriculum-title{
    font-size: 2.87rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
   text-align: center;
   margin-top: 60px ;
   margin-bottom: 80px;

    
}

.curriculum-button{
  background-color: #3CD8E8;
  border-radius: 12px;

}
.curriculum-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 28px;
    margin: 80px 140px ;
}

.curriculum-card{
    border: 1px solid #5D58EF;
    width: 367px;
    height: 481px;
    border-radius: 19px;
    text-align: center;
    align-items: center;
    justify-content: center; 
    box-shadow: 0px 0px 28px 0.94px rgba(0, 0, 0, 0.05);
    
}

.curriculum-card-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #202020;
}

.curriculum-card-description{
  font-size: 1rem;
  font-weight: 500px;
  color: rgba(128, 128, 128, 1);

}

#grad1 {
  background-image: linear-gradient(to right, skyblue, white);
}


#grad2 {
  background-image: linear-gradient(to right, pink, skyblue);
}


#grad3 {
  
  background-image: linear-gradient(to right, lightgreen , pink);
}


.arrow{
  display: flex;
  justify-content: center;
  gap: 10px;
}


/* our story */
.stories-container {
  margin-left: 140px;
  margin-right: 140px;
}
.bg-color-3{
  background-image: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  
  }
.our-story-title{
  font-size: 3.3rem;
  font-weight: 900;
  margin-top: 60px;  
  text-align: center;
}

.fun-item{

  border-radius: 16px;
  background-image: url(../assets/story-1.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-color: white;
  border: 0.2px solid rgb(255, 255, 255);
  

}
.fun-text{ 

  text-align: left;
  margin-top: 59%;
  padding: 0px 35px 35px 35px;

}
.fun-btn{
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  background-color:rgb(60, 216, 232);
  border: none;
  border-radius:48px ;
  padding: 17px 22px;
  margin-bottom: 36.43px;
}
.fun-title{
  max-width: 502px;
font-size: 1.9rem;
font-weight: 700;  
margin: 0;
margin-bottom: 52px;
}
.fun-description{
  max-width: 563px;
  line-height: 29px;
  margin-top: 52px;
  color:rgb(102, 102, 102) ;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  
 
}


.story-text{ 

  text-align: left;
  margin-top: 56%;
  padding: 0px 37px 33px 54px;

}


.story-item-1{
 
  border-radius: 16px;
  background-image: url(../assets/story-2.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-color: white;
  
}
.story-item-2{
  border-radius: 16px;
  background-image: url(../assets/story-3.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-color: white;

}
.story-item-3{
   
  border-radius: 16px;
  background-image: url(../assets/story-4.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-color: white;
 
}
.story-item-4{
  
  border-radius: 16px;
  background-image: url(../assets/story-5.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-color: white;
 
}
.story-title{
  font-size: 1rem;
  font-weight: 900;
  line-height: 28.76px;
}
.story-btn{
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background-color:rgb(149, 178, 38);
  border: none;
  border-radius:48px ;
  padding: 11px 10px;
  margin-bottom: 23px;

}
.story-btn-2{
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background-color:rgb(93, 88, 240);
  border: none;
  border-radius:48px ;
  padding: 11px 10px;
  margin-bottom: 23px;

}
.stories-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  
}
.story-items{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:20px;
}
.button-7{
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #000000;
  color: white;
  border-radius: 12px;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 10px 61px;
 text-align: center
 
}
.view{
  text-align: center;

}

/* footer styles */
.footers{
background-color: #01ACFD;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;


}

.footer-content{
  display: flex;
  justify-content: space-around;
  margin-left: 140px;
  margin-top: 20px;
  margin-bottom: 174px;
  gap: 150px;

}

 .footer-item{
  list-style: none; 
 }
  



.footer-content-link{
display: flex;
flex-direction: column;

}

.footer-link{
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500px;
}

.footer-description{
  max-width: 399px;
}

.color-7{
  color: white;
}




.about-title{
  font-size: 1.5rem;
  font-weight: bold;
}

.keep{
  font-size: 1.5rem;
  font-weight: bold;
}





@media screen and (max-width:576px) {

  .menu-icon{
    display: block;
  }
  .navbar{
    border-bottom: 1px solid orange;
  margin: 0 auto;
  }

  .nav-content, .button-1, .school {
display: none;

  }

  .Empowering{
    flex-direction: column-reverse;
    margin-left: 16px;
    margin-right: 16px;

  }

  .hero-img{
    max-width: 100%;
  }

  .empowering-content{
   
    text-align: center;
  }


  .arrow{
    display: none;
  }
.curriculum-container{
  display: flex;
  flex-direction: column;

}

.stories-container{
  grid-template-columns: repeat(1,1fr);
  margin-left: 10px;
  margin-right: 10px;

}
.story-items{
  gap: 11.31px;
}
.story-text{
  padding: 0px 0px 19px 22px ;
  max-width: 100%;

}
.display{
  gap: 20px;

}

.our-story-title{
  margin-top: 40px;
}
.story-title{
  font-size:1.2rem ;
  font-weight:700;
  margin: 0 auto;
}
.story-btn{
  font-size:1rem ;
  
}
.story-btn-2{
  font-size:1rem ;
}
 
.fun-item{
  display: none;
}


.footer-content{
  flex-direction: column;
  margin-left: 20px;
  gap: 20px;
  
}
}